/* Root Variables */
:root {
    --bcg-color: #034e37;
    --primary-color: #033520;
    --border-radius: 12px; /* Increased border-radius */
    --secondary-color: #389d3f;
    --border-color: #7fb7c9;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Added more modern font fallbacks */
}

/* Body Styles */
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bcg-color);
}

/* Box Styles */
.box {
    background-color: var(--primary-color);
    padding: 40px; /* Increased padding */
    width: 450px; /* Increased width */
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added slight shadow */
}

/* Header Styles */
.qr-header h1 {
    font-size: 32px; /* Increased font size */
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.qr-header input {
    width: 100%;
    margin: 12px 0; /* Modified margin */
}

.qr-header input,
.qr-header select {
    padding: 12px; /* Reduced padding */
    border-radius: var(--border-radius);
    font-size: 16px; /* Reduced font size */
    outline: none;
    border: 2px solid var(--border-color);
}

.qr-header label {
    color: rgb(255, 255, 255);
    font-size: 18px; /* Increased font size */
}

.qr-header div {
    display: flex;
    justify-content: space-between;
}

/* Footer Styles */
.qr-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px; /* Added top margin */
}

.qr-footer a {
    background-color: #5f725f;
    text-decoration: none;
    font-size: 18px; /* Reduced font size */
    padding: 14px 24px; /* Reduced padding */
    margin: 0 8px; /* Modified margin */
    color: #ffffff;
    font-weight: 600;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease; /* Added smooth transition */
}

.qr-footer a:hover {
    background-color: #1da283; /* Changed background color on hover */
}

/* Body Styles */
.qr-body {
    display: grid;
    place-items: center;
    padding: 20px;
}

.qr-body img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0; /* Modified margin */
    padding: 16px; /* Increased padding */
    border: 1px solid var(--border-color); /* Reduced border thickness */
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added slight shadow */
}

@media screen and (max-width: 520px) {
    .box {
        width: 90%; /* Increased width */
    }
    .qr-footer a {
        padding: 10px 20px; /* Reduced padding */
        font-size: 16px;
    }
}
