:root{
    --primary_color: #229954;
    --dark_color: #333;
    --light_color: #f4f4f4;
    --white_color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--primary_color), var(--light_color));
}

.content-data {
    position: relative;
    width: 420px;
    padding: 10px;
    background: var(--white_color);
    border-radius: 5px;
    box-shadow: 0.1px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-data p {
    font-size: 18px;
    color: var(--dark_color);
}

.content-data textarea {
    width: 100%;
    height: 280px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    resize: none;
    font-size: 17px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.qr_code_view {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.qr_code_view img {
    width: 200px;
    height: 200px;
}

.controle_btns{
    display: flex;
    align-items: center;
}

.controle_btns button {
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary_color);
    color: var(--white_color);
    font-size: 16px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1.5em;
    transition: 0.4s;
}

.controle_btns button:not(:first-child) {
    margin-left: 10px;
}

.controle_btns button:active {
    transform: scale(0.9);
}

.controle_btns .disable_btn{
    opacity: 0.5;
}

.content-data .hide_view {
    display: none !important;
}

@media(max-width: 450px) {
    .content-data {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
}
