:root{
    --primary_color: #8E24AA;
    --dark_color: #7B1FA2;
    --light_color: #CE93D8;
    --white_color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poopins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--primary_color), var(--light_color));
}

.content-data{
    position: relative;
    padding: 10px;
    width: 420px;
    background: var(--white_color);
    box-shadow: 0.1px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-data p {
    font-size: 18px;
    color: var(--primary_color);
}

.content-data textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

 /* qr code view area */

.qr-code-view {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.qr-code-view img {
    height: 200px;
    width: 200px;
}

.qr-code-view-area #select {
    padding: 12px 20px;
    margin-top: 10px;
    width: 100%;
    transition: 0.4s;
    color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 5px;
}

.qr-code-view-area #select:active {
    background: var(--primary_color);
    color: var(--white_color);
    transform: scale(0.95);
}